# Data Prep/Cleaning

## Load the Data

In [32]:
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

usda_data = pd.read_csv('../data/usda_food_original.csv', index_col=False) # nutrient --> per 100 g of food
usda_data.drop(usda_data.columns[0], axis=1, inplace=True)
usda_data.head()

,Food code,Main food description,version SR,year FNDDS,novaclass,Protein,Total Fat,Carbohydrate,"Sugars, total","Fiber, total dietary",Calcium,Iron,Sodium,Vitamin C,Cholesterol,"Fatty acids, total saturated",Total Vitamin A
0,1042,"Cheese, pasteurized process, American, fortifi...",24.0,NaN,4,2.897568,3.459152,1.308333,0.815365,-20.000000,0.044017,-7.369791,0.513422,-20.000000,-2.302585,2.893533,-8.037858
1,1043,"Cheese, pasteurized process, pimento",25.0,NaN,4,3.096934,3.440418,0.548121,-0.478036,-2.302585,-0.487760,-7.775256,0.356275,-6.074846,-2.364460,2.978739,-7.841701
2,1044,"Cheese, pasteurized process, swiss",28.0,NaN,4,3.208017,3.219276,0.741937,0.207014,-20.000000,-0.258771,-7.402052,0.314811,-20.000000,-2.465104,2.775397,-8.274247
3,1046,"Cheese food, pasteurized process, American, vi...",28.0,NaN,4,2.824944,3.243764,2.147100,1.720979,-20.000000,-0.382726,-8.254829,0.249980,-20.000000,-2.322788,2.711843,-8.250990
4,1048,"Cheese spread, pasteurized process, American",28.0,NaN,4,2.797891,3.055415,2.166765,1.990610,-20.000000,-0.576253,-8.016418,0.485508,-20.000000,-2.900422,2.589792,-8.408339

In [33]:
grocery_data = pd.read_csv('../data/grocery_food_original.csv', index_col=False)
grocery_data.head()

,original_ID,name,store,harmonized single category,brand,f_FPro,f_FPro_P,f_min_FPro,f_std_FPro,f_FPro_class,price,price percal,package_weight,has10_nuts,is_Nuts_Converted_100g,Protein,Total Fat,Carbohydrate,"Sugars, total","Fiber, total dietary",Calcium,Iron,Sodium,Vitamin C,Cholesterol,"Fatty acids, total saturated",Total Vitamin A
0,tg_15121683,Stonyfield Organic Whole Milk Strawberry Beet ...,Target,baby-food,Stonyfield,0.815250,12P_min10,0.793611,0.016475,3.0,5.29,0.043984,396.8930,1,1,5.050505,3.030303,12.121212,9.090909,0.000000,0.262626,0.000000,0.080808,0.000000,0.010101,2.020202,0.000018
1,tg_15121684,Stonyfield Organic Whole Milk Pear Spinach Man...,Target,baby-food,Stonyfield,0.815250,12P_min10,0.793611,0.016475,3.0,5.29,0.043984,396.8930,1,1,5.050505,3.030303,12.121212,9.090909,0.000000,0.262626,0.000000,0.080808,0.000000,0.010101,2.020202,0.000018
2,tg_53318168,Once Upon a Farm Organic Mama Blueberry Fruit ...,Target,baby-food,Once Upon a Farm,0.583219,12P_min10,0.539801,0.026314,3.0,2.79,0.055973,90.7184,1,1,1.098901,0.549451,13.186813,7.692308,2.197802,0.009890,0.000000,0.010989,NaN,0.000000,0.000000,0.000101
3,tg_79466963,Once Upon a Farm Organic Strawberry Kids&#39; ...,Target,baby-food,Once Upon a Farm,0.451056,12P_min10,0.413056,0.024904,0.0,2.49,0.019213,90.7184,1,1,5.494505,7.692308,15.384615,8.791209,3.296703,0.020879,0.002198,0.000000,0.024176,0.000000,1.098901,NaN
4,tg_79661578,Horizon Organic Growing Years Strawberry Kids&...,Target,baby-food,DANNON,0.773519,12P_min10,0.756667,0.011955,3.0,4.99,0.017781,396.8930,1,1,3.030303,1.010101,14.141414,6.060606,2.020202,0.131313,0.000000,0.050505,NaN,0.005051,0.505051,NaN

## Explore variables

In [34]:
usda_data.describe()

,Food code,version SR,year FNDDS,novaclass,Protein,Total Fat,Carbohydrate,"Sugars, total","Fiber, total dietary",Calcium,Iron,Sodium,Vitamin C,Cholesterol,"Fatty acids, total saturated",Total Vitamin A
count,1.049900e+04,5386.000000,5113.000000,10499.000000,10499.000000,10499.000000,10499.000000,10499.000000,10499.000000,10499.000000,10499.000000,10499.000000,10499.000000,10499.000000,10499.000000,10499.000000
mean,2.470206e+07,26.632009,2009.862507,2.801791,0.628572,0.071333,-1.342792,-3.907567,-8.377389,-3.967251,-7.414333,-2.881789,-12.315656,-11.503138,-1.408085,-6.704727
std,3.165868e+07,2.351421,6.288455,1.323560,4.641561,5.061261,8.663490,9.584710,10.278974,3.157860,2.749566,3.205838,7.247511,8.282711,5.285398,7.403529
min,1.001000e+03,20.000000,2001.000000,1.000000,-20.000000,-20.000000,-20.000000,-20.000000,-20.000000,-20.000000,-20.000000,-20.000000,-20.000000,-20.000000,-20.000000,-20.000000
25%,1.338950e+04,26.000000,2003.000000,1.000000,0.343590,-0.544727,0.482426,-20.000000,-20.000000,-4.605170,-8.016418,-3.863233,-20.000000,-20.000000,-2.244316,-11.869600
50%,4.321200e+04,28.000000,2011.000000,3.000000,1.827770,1.403643,2.335052,1.124930,-0.916291,-3.729701,-6.830794,-2.563950,-8.517193,-6.907755,0.283674,-5.764488
75%,5.426150e+07,28.000000,2017.000000,4.000000,2.811509,2.564949,3.719651,2.420368,0.832909,-2.465104,-6.040655,-0.855666,-5.381699,-2.918771,1.380653,0.000038
max,9.534200e+07,28.000000,2017.000000,4.000000,4.449685,4.605170,4.605170,4.604270,4.369448,1.996603,-2.090705,3.657337,0.875469,1.131402,4.514151,0.014204

In [35]:
grocery_data.describe()

,f_FPro,f_min_FPro,f_std_FPro,f_FPro_class,price,price percal,package_weight,has10_nuts,is_Nuts_Converted_100g,Protein,Total Fat,Carbohydrate,"Sugars, total","Fiber, total dietary",Calcium,Iron,Sodium,Vitamin C,Cholesterol,"Fatty acids, total saturated",Total Vitamin A
count,26657.000000,26387.000000,26387.000000,26657.000000,43684.000000,25921.000000,47529.000000,50468.000000,50468.00000,34515.000000,34645.000000,34633.000000,32370.000000,28945.000000,28504.000000,28286.000000,34463.000000,14534.000000,2.947600e+04,29810.000000,14023.000000
mean,0.727577,0.708834,0.015909,2.486889,4.803276,0.051096,585.640095,0.528216,0.66876,26.997390,23.600881,67.084907,40.385579,14.085535,0.198764,0.002696,18.807956,0.023761,1.188647e+02,14.451410,0.006873
std,0.229060,0.234936,0.014625,1.022365,5.452681,2.995761,2024.486028,0.499208,0.49592,546.897203,283.978084,541.111835,894.755564,475.722855,1.674486,0.012896,2951.591704,0.260696,2.038608e+04,308.662263,0.112378
min,0.000000,0.000000,0.000000,0.000000,0.030000,0.000001,0.035000,0.000000,-1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.000212,0.000000,0.000000,0.000000e+00,0.000000,0.000000
25%,0.611694,0.592972,0.008154,3.000000,2.390000,0.002900,198.446500,0.000000,0.00000,0.416667,0.000000,5.508475,0.416667,0.000000,0.000000,0.000000,0.029928,0.000000,0.000000e+00,0.000000,0.000000
50%,0.783259,0.762778,0.013476,3.000000,3.690000,0.005926,357.203700,1.000000,1.00000,5.263158,5.507246,21.164394,4.200000,1.538462,0.035714,0.001071,0.250000,0.000000,0.000000e+00,1.947262,0.000000
75%,0.908269,0.893692,0.020115,3.000000,5.590000,0.012509,537.506520,1.000000,1.00000,10.869565,18.750000,57.142857,18.181818,3.591534,0.115044,0.002540,0.545455,0.006316,2.105425e-02,7.000000,0.000116
max,0.999056,0.998611,0.222207,3.000000,289.000000,476.333333,272155.422000,1.000000,1.00000,44000.000000,36000.000000,36000.000000,99099.099100,64000.000000,91.000000,1.071429,547619.047600,12.600000,3.500000e+06,33333.333330,11.627907

Variables were already transformed as stated in the research paper. Since I don't know the exact transformations. I will have to use my best judgement and use a log transform.

## Check misisng values

In [36]:
usda_data.isnull().sum()

Food code                          0
Main food description              0
version SR                      5113
year FNDDS                      5386
novaclass                          0
Protein                            0
Total Fat                          0
Carbohydrate                       0
Sugars, total                      0
Fiber, total dietary               0
Calcium                            0
Iron                               0
Sodium                             0
Vitamin C                          0
Cholesterol                        0
Fatty acids, total saturated       0
Total Vitamin A                    0
dtype: int64

In [37]:
grocery_data.isnull().sum()

original_ID                         0
name                                1
store                               0
harmonized single category          0
brand                             390
f_FPro                          23811
f_FPro_P                        23811
f_min_FPro                      24081
f_std_FPro                      24081
f_FPro_class                    23811
price                            6784
price percal                    24547
package_weight                   2939
has10_nuts                          0
is_Nuts_Converted_100g              0
Protein                         15953
Total Fat                       15823
Carbohydrate                    15835
Sugars, total                   18098
Fiber, total dietary            21523
Calcium                         21964
Iron                            22182
Sodium                          16005
Vitamin C                       35934
Cholesterol                     20992
Fatty acids, total saturated    20658
Total Vitamin A                 36445
dtype: int64

Need to impute second dataset with 0's and delete all foods with no f_FPro_class value. Looking at some of the cases for the Nan's, I believe 0 to be the most reasonable imputation value for the nutrition columns.

## Imputing and deleting rows with no outcome variable

In [38]:
print(grocery_data.shape)
grocery_data = grocery_data.dropna(subset=['f_FPro_class'])
print(grocery_data.shape)

(50468, 27)
(26657, 27)

In [39]:
import sys
sys.path.append('../')
from src.data_prep_functions import *

grocery_data = impute_zeros(grocery_data, 12)
grocery_data.head()

,original_ID,name,store,harmonized single category,brand,f_FPro,f_FPro_P,f_min_FPro,f_std_FPro,f_FPro_class,price,price percal,package_weight,has10_nuts,is_Nuts_Converted_100g,Protein,Total Fat,Carbohydrate,"Sugars, total","Fiber, total dietary",Calcium,Iron,Sodium,Vitamin C,Cholesterol,"Fatty acids, total saturated",Total Vitamin A
0,tg_15121683,Stonyfield Organic Whole Milk Strawberry Beet ...,Target,baby-food,Stonyfield,0.815250,12P_min10,0.793611,0.016475,3.0,5.29,0.043984,396.8930,1,1,5.050505,3.030303,12.121212,9.090909,0.000000,0.262626,0.000000,0.080808,0.000000,0.010101,2.020202,0.000018
1,tg_15121684,Stonyfield Organic Whole Milk Pear Spinach Man...,Target,baby-food,Stonyfield,0.815250,12P_min10,0.793611,0.016475,3.0,5.29,0.043984,396.8930,1,1,5.050505,3.030303,12.121212,9.090909,0.000000,0.262626,0.000000,0.080808,0.000000,0.010101,2.020202,0.000018
2,tg_53318168,Once Upon a Farm Organic Mama Blueberry Fruit ...,Target,baby-food,Once Upon a Farm,0.583219,12P_min10,0.539801,0.026314,3.0,2.79,0.055973,90.7184,1,1,1.098901,0.549451,13.186813,7.692308,2.197802,0.009890,0.000000,0.010989,0.000000,0.000000,0.000000,0.000101
3,tg_79466963,Once Upon a Farm Organic Strawberry Kids&#39; ...,Target,baby-food,Once Upon a Farm,0.451056,12P_min10,0.413056,0.024904,0.0,2.49,0.019213,90.7184,1,1,5.494505,7.692308,15.384615,8.791209,3.296703,0.020879,0.002198,0.000000,0.024176,0.000000,1.098901,0.000000
4,tg_79661578,Horizon Organic Growing Years Strawberry Kids&...,Target,baby-food,DANNON,0.773519,12P_min10,0.756667,0.011955,3.0,4.99,0.017781,396.8930,1,1,3.030303,1.010101,14.141414,6.060606,2.020202,0.131313,0.000000,0.050505,0.000000,0.005051,0.505051,0.000000

## Extract relevant columns and export

In [40]:
usda_data.columns

Index(['Food code', 'Main food description', 'version SR', 'year FNDDS',
       'novaclass', 'Protein', 'Total Fat', 'Carbohydrate', 'Sugars, total',
       'Fiber, total dietary', 'Calcium', 'Iron', 'Sodium', 'Vitamin C',
       'Cholesterol', 'Fatty acids, total saturated', 'Total Vitamin A'],
      dtype='object')

In [41]:
grocery_data.columns

Index(['original_ID', 'name', 'store', 'harmonized single category', 'brand',
       'f_FPro', 'f_FPro_P', 'f_min_FPro', 'f_std_FPro', 'f_FPro_class',
       'price', 'price percal', 'package_weight', 'has10_nuts',
       'is_Nuts_Converted_100g', 'Protein', 'Total Fat', 'Carbohydrate',
       'Sugars, total', 'Fiber, total dietary', 'Calcium', 'Iron', 'Sodium',
       'Vitamin C', 'Cholesterol', 'Fatty acids, total saturated',
       'Total Vitamin A'],
      dtype='object')

In [42]:
# Only choose relevant columns 
usda_data = usda_data.loc[:, ~usda_data.columns.isin(['Food code', 'version SR', 'year FNDDS', 'Main food description'])]
grocery_data = grocery_data.loc[:, ~grocery_data.columns.isin(['original_ID', 'store', 'f_min_FPro', 'f_std_FPro', 'f_FPro_P', 'price', 'price percal', 'package_weight', 'has10_nuts','is_Nuts_Converted_100g', 'name', 'harmonized single category', 'brand', 'f_FPro'])]

# Rename novaclass column and change dtype to float64
grocery_data = grocery_data.rename(columns={'f_FPro_class': 'novaclass'})
usda_data["novaclass"] = usda_data["novaclass"].astype("float64")

In [43]:
usda_data.head()

,novaclass,Protein,Total Fat,Carbohydrate,"Sugars, total","Fiber, total dietary",Calcium,Iron,Sodium,Vitamin C,Cholesterol,"Fatty acids, total saturated",Total Vitamin A
0,4.0,2.897568,3.459152,1.308333,0.815365,-20.000000,0.044017,-7.369791,0.513422,-20.000000,-2.302585,2.893533,-8.037858
1,4.0,3.096934,3.440418,0.548121,-0.478036,-2.302585,-0.487760,-7.775256,0.356275,-6.074846,-2.364460,2.978739,-7.841701
2,4.0,3.208017,3.219276,0.741937,0.207014,-20.000000,-0.258771,-7.402052,0.314811,-20.000000,-2.465104,2.775397,-8.274247
3,4.0,2.824944,3.243764,2.147100,1.720979,-20.000000,-0.382726,-8.254829,0.249980,-20.000000,-2.322788,2.711843,-8.250990
4,4.0,2.797891,3.055415,2.166765,1.990610,-20.000000,-0.576253,-8.016418,0.485508,-20.000000,-2.900422,2.589792,-8.408339

In [44]:
grocery_data.head()

,novaclass,Protein,Total Fat,Carbohydrate,"Sugars, total","Fiber, total dietary",Calcium,Iron,Sodium,Vitamin C,Cholesterol,"Fatty acids, total saturated",Total Vitamin A
0,3.0,5.050505,3.030303,12.121212,9.090909,0.000000,0.262626,0.000000,0.080808,0.000000,0.010101,2.020202,0.000018
1,3.0,5.050505,3.030303,12.121212,9.090909,0.000000,0.262626,0.000000,0.080808,0.000000,0.010101,2.020202,0.000018
2,3.0,1.098901,0.549451,13.186813,7.692308,2.197802,0.009890,0.000000,0.010989,0.000000,0.000000,0.000000,0.000101
3,0.0,5.494505,7.692308,15.384615,8.791209,3.296703,0.020879,0.002198,0.000000,0.024176,0.000000,1.098901,0.000000
4,3.0,3.030303,1.010101,14.141414,6.060606,2.020202,0.131313,0.000000,0.050505,0.000000,0.005051,0.505051,0.000000

### Check data before joining

In [45]:
combined_food_data = union_join(usda_data, grocery_data)
combined_food_data.head()

,novaclass,Protein,Total Fat,Carbohydrate,"Sugars, total","Fiber, total dietary",Calcium,Iron,Sodium,Vitamin C,Cholesterol,"Fatty acids, total saturated",Total Vitamin A
0,4.0,2.897568,3.459152,1.308333,0.815365,-20.000000,0.044017,-7.369791,0.513422,-20.000000,-2.302585,2.893533,-8.037858
1,4.0,3.096934,3.440418,0.548121,-0.478036,-2.302585,-0.487760,-7.775256,0.356275,-6.074846,-2.364460,2.978739,-7.841701
2,4.0,3.208017,3.219276,0.741937,0.207014,-20.000000,-0.258771,-7.402052,0.314811,-20.000000,-2.465104,2.775397,-8.274247
3,4.0,2.824944,3.243764,2.147100,1.720979,-20.000000,-0.382726,-8.254829,0.249980,-20.000000,-2.322788,2.711843,-8.250990
4,4.0,2.797891,3.055415,2.166765,1.990610,-20.000000,-0.576253,-8.016418,0.485508,-20.000000,-2.900422,2.589792,-8.408339

### Export

In [ ]:
#combined_food_data.to_csv('combined_food_data.csv', index=False)

## Conclusion

Both datasets should be good to go for model building now. Exploratory data analysis is not considered because the data already came pre-transformed. Althought there can be useful insights to be extracted, the main purpose of this project is to get a prototype ml web app that allows for predicition on items not listed in the data.